<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Input</title>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css}">
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<br/>
<h3 style="margin-left:30%;">Add Shopping Items</h3>
<br/>
<div class="row " style="margin-left:8px;border-radius:5px;">
<div class="col col-12">
    <form th:object="${marketForm}"   th:action="@{/saveMarkets}" method="post" style="padding-left:10px;background-color:skyblue;padding:10px;">


        <table style="width:100%;">
            <tr style="padding:10px;">
                <td> </td>
                <td>  Date :-  <input type="date" th:field="*{date}" required /> </td>
                <td>
                    <button type="submit" name="operation" th:value="'datewiseShop'" >
                        Search
                    </button>
                </td>
                <td th:text=" 'Total Price :-' + ${marketForm.totalPrice} + ' BDT' ">
                </td>
                <td>

                </td>

            </tr>
            <tr>
                <th style="width:4%;">SL No </th>
                <th style="width:20%;">Item Name</th>
                <th style="width:15%;"> Item Price </th>
                <th style="width:40%;">Description </th>
                <th style="width:20%;">Operation </th>
            </tr>

            <tr th:each="market, rowStat : *{markets}" >
                <td>
                    <span th:text="${rowStat.index + 1}"></span>
                </td>

                <td>
                    <input type="hidden" th:field="*{markets[__${rowStat.index}__].id}" >
                    <input type="text" th:field="*{markets[__${rowStat.index}__].itemName}" >
                </td>

                <td>
                    <input type="number" th:field="*{markets[__${rowStat.index}__].itemPrice}" step="0.01" >
                </td>

                <td>
                    <input type="text" th:field="*{markets[__${rowStat.index}__].description}" >
                </td>
                <td>
                    <button type="submit" name="operation" th:value="'delete/' + ${rowStat.index}">
                        Delete
                    </button>

                    <button type="submit" name="operation" th:value="'add/' + ${rowStat.index}">
                        Add
                    </button>
                </td>
                </td>

            </tr>

            <tr style="text-align:center;">
                <td>

                </td>
                <td>
                    -
                </td>
                <td>
                    <br/>
                    <button type="submit" name="operation" value="save" >Save Items</button>
                </td>
                <td>
                    -
                </td>

            </tr>
        </table>
    </form>
</div>

</div>



</body>
</html>